body{
    font-family: Arial;
    text-align:center;
}

.search-box{
    margin-top:40px;
}

.search-box input{

    width:350px;

    padding:12px;

    font-size:18px;

    border:2px solid #2196F3;

    border-radius:8px;
}

.search-box button{

    padding:12px 20px;

    font-size:18px;

    background:#2196F3;

    color:white;

    border:none;

    border-radius:8px;

    cursor:pointer;
}

.search-box button:hover{

    background:#1976D2;

}