fastapi==0.115.6
uvicorn==0.34.0

python-multipart==0.0.20

pydantic==2.10.4

python-dotenv==1.0.1


faster-whisper==1.1.0

transformers==4.47.1
torch==2.5.1

sentencepiece==0.2.0


piper-tts==1.2.0


soundfile==0.13.1

pydub==0.25.1


aiofiles==24.1.0

sqlalchemy==2.0.36